server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/auth/**
        - id: meeting-service
          uri: lb://meeting-service
          predicates:
            - Path=/api/meetings/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
